body {
  background-color: #272938;
}

.el-row {
  padding: 0 10px;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}

.el-card__body {
  padding: 10px 10px 0 10px;
}

.el-table {
  font-size: 13px;
  color: #777;
}

.el-table td, .el-table th {
  padding: 0;
}

.el-submenu__title {
  font-size: 13px;
}

.el-menu-item {
  font-size: 12px;
}

.el-card__header {
  color: #31708f;
  padding: 8px 20px;
  background-color:#d9edf7;
  border-bottom: 1px solid #EBEEF5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.el-input {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #777;
}

.el-button {
  height: 35px;
  line-height: 35px;
  padding: 0 20px
}

.search-button {
  margin-top: -5px;
}

.condition-label {
  text-align: right;
  margin-top: 5px;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #777;
}

.search-button-row {
  background-color:#f5f5f5;
  margin: 10px 0;
  padding: 10px 15px 7px 10px;
}

.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label {
  font-size: 14px;
  color: #909399;
}

.el-dialog__title {
  font-size: 17px;
  color: #31708f;
}

.el-dialog__header {
  border: solid 1px #bce8f1;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #d9edf7;
}

.el-dialog__body {
  padding-top: 20px;
  padding-bottom: 0;
}

.el-dialog__footer {
  border: solid 1px #bce8f1;
  padding-top: 12px;
  padding-bottom: 12px;
}

.el-collapse-item__header {
  padding-left: 15px;
}

.opt-button {
  margin-left: 0;
  margin-right: 0;
  padding: 0 3px;
}
